$primary-color:#486349;
$secondary-color:#D8C690;
$third-color:#CBB26A;
$white-text:#ffff;
$black-text: #000000;

.container{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    .headline{
        background-color: #486349;
        height: 90px;
        margin: 0;
        border-radius: 19px;
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .payment{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .payment-headline{
        font-size: 16px;
    }
    .text{
        font-size: 16px;
        width: 235px;
    }
}
#order-img{
    margin-left: -123px;
    width: 300px;
    img{
        height: 400px;
    }
}


@media only screen and (max-width: 528px) {

    .container{
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        .headline{
            background-color: #486349;
            height: 90px;
            margin: 0;
            border-radius: 19px;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .payment{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    #order-img{
        width: 300px;
        margin-left: 40px;
        img{
            height: 170px;
            // margin-left: 40px;
        }
    }

}


