$primary-color:#486349;
$secondary-color:#D8C690;
$third-color:#CBB26A;
$white-text:#ffff;
$black-text: #000000;

.footer {
    height: 350px;
    background-color: $primary-color;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    .ft-container{
        display: inline-flex;
        line-height: normal;
    }
    .ft-containers{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        margin-right: 250px;
        h3{
            color: #ffff;
        }
        #link{
            color:#CBB26A;
        }
        .email,
        .phone, 
        .adress{
        color: #ffff;
        }
        input{
            background-color: #fff;
            border-radius: 15px;
            height: 50px;
            width: 100%;
            text-align: center;
        }
        #newsletter-btn{
            background-color: #ffff;
            color: #000000;
            border-radius:15px;
            height: 55px;
            width: 40%;
            position: relative;
            bottom: 55px;
            left: 215px;
        }
        #logo-img{
            height: 150px;
            width: 200px;
        }
    }
    #copyright{
        color:#CBB26A;
        padding: 0;
        margin: 0; 
    }
}