$primary-color:#486349;
$secondary-color:#D8C690;
$third-color:#CBB26A;
$white-text:#ffff;
$black-text: #000000;

.footer {
    // height: 350px;
    background-color: $primary-color;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    .ft-container{
        display: inline-flex;
        line-height: normal;
    }
    .ft-containers{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        margin-right: 120px;
        margin-top: 50px;
        h3{
            color: #ffff;
        }
        #link{
            color:#CBB26A;
        }
        .email,
        .phone, 
        .adress{
        color: #ffff;
        display: flex;
        margin-bottom: 40px;
        p{
        margin-left: 30px;
        }
        }
        input{
        font-family: "Lora", serif;
        border: none;
        margin-top: 10px;
        width: 225px;
        display: block;
        height: 50px;
        text-align: center;
        border-radius: 10px;
        background-color: #e6e6e6;
        color: #000;
        }
        #newsletter-btn{
        font-family: "Lora", serif;
        border: none;
        margin-top: 10px;
        display: block;
        height: 52px;
        text-align: center;
        border-radius: 10px;
        background-color: #e6e6e6;
        color: #0000007d;
        position: relative;
        bottom: 62px;
        left: 200px;
        }
        #logo-img{
            height: 250px;
            width: 300px;
        }
    }
    #copyright{
        color:#CBB26A;
        padding: 0;
        margin: 0; 
    }
}

    #follow-us{
        display: flex;
        flex-direction: column;
        align-items: center;
        #social-medias{
            display: flex;
            flex-direction: row;
            align-content: space-between;
            img{
                display: flex;
                flex-direction: row;
                padding-left: 80px;
            }
        }
    }

    @media only screen and (max-width: 528px) {
        .footer {
            background-color: $primary-color;
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            .ft-container{
                display: inline-flex;
                line-height: normal;
            }
            .ft-containers{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-left: 30px;
                margin-top: 5px;
                width: 240px;
                h3{
                    color: #ffff;
                }
                #link{
                    color:#CBB26A;
                }
                .email,
                .phone, 
                .adress{
                color: #ffff;
                display: flex;
                margin-bottom: 40px;
                p{
                margin-left: 30px;
                }
                }
                input{
                    font-family: "Lora", serif;
                    background-color: transparent;
                    border: none;
                    margin-top: 10px;
                    display: block;
                    color: #fff;
                    height: 50px;
                    text-align: center;
                    border-radius: 5px;
                    background-color: #e6e6e6;
                    color: #000;
                }
                #newsletter-btn{
                    display: none;
                }
                #logo-img{
                    height: 220px;
                    width: 340px;
                    position: relative;
                    top: 100px;
                }
            }
            #copyright{
                color:#CBB26A;
                padding: 0;
                margin: 0; 
                width: 300px;
                position: relative;
                left: 30px;
            }
        }
        
            #follow-us{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 220px;
                position: relative;
                bottom: 230px;
                // left: 25px;;
                #social-medias{
                    display: flex;
                    flex-direction: row;
                    align-content: space-between;
                    img{
                        display: flex;
                        flex-direction: row;
                        padding-left: 80px;
                    }
                }
            }
        
    }
    