h2{
    text-align: center;
}
#card{
    display: inline-block;
    padding-right: 50px;
    #review-card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        #user-review {
            display: flex;
        flex-direction: row;
        align-items: center;
            #user-img{
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
        #review-stars{
            width: 100px;
        }
        #review{
        width: 270px;
        height: 100px;
        }
        }
    
    }
}
