$primary-color:#486349;
$secondary-color:#D8C690;
$third-color:#CBB26A;
$white-text:#ffff;
$black-text: #000000;


#product-page{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


    #heart{
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 145px;
        left: 900px;
    }

#card{
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: normal;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    #card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        left: 10px;
        border: solid rgb(134, 134, 134) 2px;
        border-radius: 20px;
        height: 300px;
        width: 1300px;
        #card-price{
        color: #000000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        // top: 100px;
        // right: 500px;
        background-color: #dadada;
        opacity: 80%;
        height: 50px;
        width: 170px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
        text-align: center;
        p{
            margin: 11px;
            padding: 0;
            font-size: medium;
            font-weight: 600;
        }
        }
        h2{
            display: inline-flex;
            font-weight: 500;
            font-size: 20px;
            margin: 0;
            padding: 0;
            position: relative;
            left: 10px;
            width: 200px;
        }
      h3{
        display: inline;
        margin: 0;
        padding: 0;
        position: relative;
        left: 10px;
        width: 180px;
      }
      ul{
        list-style-type: none;
        position: relative;
        right: 35px;
        li{
        display: inline;
        margin-left: 10px;
        font-weight: 600;
        }
      }
      #reviews-stars{
        position: relative;
        bottom: 10px;
        left: 10px;
        width: 200px;
        #rating{
            display: inline;
            position: relative;
            bottom: 10px;
            left: 10px;
        }
    }
      #card-package
      {
        color: #000000;
        position: relative;
        top: -65px;
        right: 500px;
        background-color: #dadada;
        opacity: 80%;
        height: 50px;
        width: 80px;
        border-radius: 20%;
        text-align: center;
        p{
            margin: 11px;
            padding: 0;
            font-size: medium;
            font-weight: 600;
        }
      }
    }
}

#product-image {
    text-align: center;
    .p-image {
    border-radius: 20px;
    width: 500px;
    height: 300px;
    object-fit: cover; 
    }
    }

    .view-product-btn{
        position: relative;
        bottom: 80px;
        left: 800px;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        text-align: center;
        background-color: #CBB26A;
        font-size: medium;
        display: flex;
        color: #000;
        text-decoration: none;
        flex-direction: column;
        justify-content: space-around;
    }

    @media only screen and (max-width: 528px) {
        // .nav-bar {
        //     width: 100%;
        //     height: 200px;
        // }
    }
    