$primary-color:#486349;
$secondary-color:#D8C690;
$third-color:#CBB26A;
$white-text:#ffff;
$black-text: #000000;

.container{
    background-color: #FFF;
    margin: 20px;
    border: solid black .5px;
    border-radius: 20px;
    width: fit-content;
    h1{
        background-color: #486349;
        margin: 0;
        height: 90px;
        // padding: 10px;
        color: #FFF;
        border: solid black 0.5px;
        border-radius: 19px;
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    #login-form {
        // background-color: #fff;
        width: 80vh;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 20px;
        justify-content: center;
        align-items: flex-start;
        label {
            font-size: medium;
            color: black;
            display: flex;
        }
        input {
            background-color: #fff;
            color: #000000;
            border-radius: 10px;
            height: 30px;
            width: 80%;
        }
        #error-msg{
            color: firebrick;
        }
        .login-link{
            margin: 0;
            text-decoration: none;
            a{
                text-decoration: underline;
                color: #486349;
            }
        }
        .login-btn {
        height: 40px;
        width: 300px;
        border-radius: 10px;
        text-align: center;
        background-color: #CBB26A;
        font-size: medium;
        }
    }
}

@media only screen and (max-width: 528px) {
    // .nav-bar {
    //     width: 100%;
    //     height: 200px;
    // }
}

