$primary-color:#486349;
$secondary-color:#D8C690;
$third-color:#CBB26A;
$white-text:#ffff;
$black-text: #000000;


#detail-card{
    font-family: "Lora", serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    #facilities-card{
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        right: 151px;
    ul{
    li{
        display: flex;
        margin-left: 10px;
        align-items: center;
        padding: 15px;
        img{
            padding: 20px;
        }
    }
    }
    }
    #amenities-card{
        border-radius: 20px;
        display: flex;
        position: relative;
        bottom: 286px;
        right: 210px;
        width: 400px;
        height: 200px;
        flex-direction: column;
        .container-2{
            position: relative;
            left: 200px;
            bottom: 130px;
        }
    }
}

#reservetion-card{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    bottom: 690px;
    left: 400px;

}

#reserve-btn{
    border-radius: 10px;
    text-align: center;
    background-color: #CBB26A;
    font-size: larger;
    color: black;
    text-decoration-line: none;
    display: block;
}

#user-reviews{
    position: relative;
    bottom: 100px;
    #user-review{
        display: inline-flex;
        flex-direction: row;
        margin-left: 20px;
        margin-bottom: 20px;
    }

}


@media only screen and (max-width: 528px) {
    p{
        padding: 0px;
        margin: 0px;
        width: 120px;
    }
    #detail-card{
        font-family: "Lora", serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        #facilities-card{
            position: relative;
            right: 30px;
            bottom: 25px;
            .container-1{
                position: relative;
                bottom: 10px;
            }
        ul{
            margin-top: 0px;
            height: 710px;
        li{
            display: flex;
            margin-left: 10px;
            align-items: center;
            padding: 15px;
            font-size: 15px;
            img{
                padding: 20px;
            }
        }
        }
        }
        #amenities-card{
        h3{
            margin-bottom: 0px;
            margin-left: 65px;
            margin-top: 45px;
        }
        border-radius: 20px;
        display: flex;
        position: relative;
        bottom: 90px;
        left: -35px;
        flex-direction: column;
        margin-bottom: 30px;
        .container-2{
            position: relative;
            left: 190px;
            bottom: 240px;
            width: 20px;
        }
        ul{
            width: 200px;
            li{
                margin-left: 10px;
                padding: 15px;
                width: 120px;
                font-size: 15px;
                
                img{
                    padding: 20px;
                }
            }
            }
            flex-direction: column;
        }
    }
    
    #reservetion-card{
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(136, 136, 136);
        left: 16px;
        right: 16px;
        position: fixed;
        bottom: 16px;
        z-index: 100;
    }
    
    #reserve-btn{
        border-radius: 10px;
        text-align: center;
        background-color: #CBB26A;
        font-size: larger;
        color: black;
        text-decoration-line: none;
        display: block;
    }
    
    #user-reviews{
        position: relative;
        bottom: 0px;
        position: relative;
        bottom: 0px;
        margin-bottom: 30px;
        margin-top: 30px;
        #user-review{
        display: inline-flex;
        flex-direction: row;
        margin-left: 0px;
        margin-bottom: 20px;
        height: 160px;
        width: 130px;
        }
    }
    
}

