#about-us{
    padding: 10px;  
    #home-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 30px;
    padding-left: 80px;
    p{
        width: 350px;
    }
    }
}

.headline {
    text-align: center;
}

.date-pick {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    .label{
        margin-top: 25%;
        margin-right: 15px;
        margin-left: 15px;
    }
    .DatePicker{
        margin-top: 10px;
        display: block;
        color: #fff;
        height: 50px;
        text-align: center;
        border-radius: 5px;
        background-color: #e6e6e6;
        color: #000;
    }
}

#packages{
    display: flex;
    .headline{
        text-align: center;
    }
    #package-info{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 30px;
        #package{
            padding-left: 80px;
        }
        #package-img{
            height: 350px;
            width: 350px;
        }
        p{
            width: 350px;
        }
        #symbol{
            height: 30px;
            width: 30px;
            margin-left: 10px;
        }   
    }
}

#activities {
    position: relative;
    left: 500px;
}

// .image-carousel-container{
//     height: 200px;
// }

#reviews{
    display: flex;
}